*{
    margin: 0px;
    padding: 0px;
    font-family: 'Cantarell', sans-serif;
}
html {
    scroll-behavior: smooth;
  }
/* NAVBAR CSS START */
#navbar{
    /* background-image: linear-gradient(to right, #A8d0e6 , #374785); */
    background-color: #0b0c1000 ;
    display: flex;
    justify-content: center;
    padding: 10px 0px;
    position: fixed;
    width: 100%;
    transition: background-color 0.4s ease-in-out;
    z-index: 3;
}

#navbar.scrolled{
    background-color: #ffffff ;
    opacity: 0.9;
    color: #0b0c10;
    box-shadow: 0px 0px 5px 1px #1f2833;
}

.nav-list{
    /* background-color: antiquewhite; */
    position: static;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
    justify-content: center;
    
}
.nav-list li{
    /* border: 1px solid rgba(255, 255, 255); */
    border-radius:5px;
    padding: 10px 25px;
}
.nav-list li a{
    text-decoration: none;
    color: #66fcf2bb;
}

#navbar.scrolled .nav-list li:hover {
    background-color: #1f2833;
    opacity: 1;
}
#navbar.scrolled .nav-list li a {
   color: #1f2833;
}
#navbar.scrolled .nav-list li:hover a {
   color: #ffffff;
}

.nav-list li:hover{
    color: #ffffff;
    transform: scale(1.05);
    transition: all 0.1s;
}
.nav-list li:hover a{
    color: #ffffff;
}
/* WELCOME SECTION START */
#welcome-section{
    background-color:#1f2833 ;
    color: #66fcf1;
    padding: 20% 25%;
    text-align: center;
    display: grid;
    gap: 15px;
}
#welcome-title{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: end;
    gap: 7px;
}
#welcome-title-name{
    color: #c5c6c7;
    font-size: 30px;
}
@media screen and (min-width: 890px) {
    #welcome-section{
        padding: 10% 25%;
    }
    #welcome-title-name{
        color: #c5c6c7;
    }
  }
/* ABOUT CSS */
#about-section{
    background-color: #0b0c10 ;
    color:  #66fcf1;
    padding: 8% 15%;
    display: grid;
    gap: 30px;
}
#desc-about-section{
    text-align: justify;
}
#desc-about-section h1{
    padding-bottom: 20px;
}
#desc-about-section p{
    padding-top: 20px;
}
#image-about-section{
    background-image: url("https://cdni.iconscout.com/illustration/premium/thumb/man-coder-developed-code-in-computer-6818031-5625514.png");
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 100%;
}
@media screen and (min-width: 890px) {
    #about-section {
        padding: 5% 15%;
        display: flex;
    }
    #desc-about-section{
        width: 50%;
    }
    #image-about-section{
        background-image: url("https://cdni.iconscout.com/illustration/premium/thumb/man-coder-developed-code-in-computer-6818031-5625514.png");
        background-size: cover;
        background-position: center;
        height: 400px;
        width: 50%;
    }
  }
/* SKILL SECTION CSS */
#skill-section{
    background-color: #1f2833;
    padding:  8% 15%; 
    text-align: center;  
}
#skill-section h1{
    font-size: 30px;
    padding-bottom: 35px;
    color:  #66fcf1;
}
#skill-section-box{
    padding: 25px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 60px;
}
#skill-image{
    height: 100px;
    width: 100px;
}
#skill-image:hover{
    transform: scale(1.1);
    transition: all 0.3s;
}
@media screen and (min-width: 890px) {
    #skill-section{
        padding: 3% 20%; 
    }
    #skill-section-box{
        padding: 25px 40px;
    }
}
/* END SKILL SECTION */
/* START PROJECT SECTION */
#projects{
    background-color: #f0f0f0;
    color: black;
    padding: 8% 15%;
    text-align: center;
}
#projects h1{
    font-size: 30px;
}
#project-grid-box{
    padding: 30px 60px;
    /* background-color: bisque; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 50px;
}
#project-grid-box li{
    list-style: none;
}
.project-tile{
    height: 280px;
    width: 250px;
    text-decoration: none;
    color: white;
    background-color:#1f2833;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    padding-bottom: 15px;
    gap: 5px;
    box-shadow: 0px 0px 10px 1px rgba(128, 128, 128, 0.485);
    transition: all 0.1s ease-in-out;
    z-index: 0;
}
#project-image{
    height: 250px;
    width: 250px;
    border-radius: 5px;
}
.project-tile:hover{
    transition: all 0.1s ease-in-out;
    transform: scale(1.1);
    
}
@media screen and (min-width: 890px) {
    #projects{
        padding: 3% 20%; 
    }
    #project-grid-box{
        padding: 25px 40px;
    }
}
/* Contact start */
#contact{
    background-color: #1f2833;
    color: #ffffff;
    padding: 8% 15%;
    text-align: center;
}
#contact-title{
    padding-bottom: 35px;
    display: grid;
    gap: 10px;
}
#contact-title h1{
    font-weight: bold;
    font-size: 35px;
}
#contact-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}
#profile-link{
    text-decoration: none;
    font-size: 20px;
    display: flex;
    color: white;
    gap: 10px;
    transition: all 0.1s ease-in-out;
}
#profile-link i{
    font-size: 25px;
}
#profile-link:hover{
    transition: all 0.1s ease-in-out;
    transform: rotate(-8deg);
}
@media screen and (min-width: 890px) {
    #contact{
        padding: 3% 20%; 
    }
    #contact-box{
        padding: 25px 70px;
    }
}
/* Footer */
footer{
    background-color: #1f2833;
    color: white;
    font-style: italic;
    border-top: 1px solid #66fcf1;
    text-align: center;
    padding: 30px 50px;
}